body {
    background-color: black;
}
.productesContainer {
    background-color: white;
    width: 1024px;
    height: 250px;
    margin: 30px;
    display: flex;
    border-radius: 5px;
    margin: auto;
}
.productesContainerCost{
    margin-left: 350px;
    margin-top: 50px;
}

.divButtomSell{
    background-color: brown;
    width: 100px;
    height: 50px;    
    margin-left: 340px;
    margin-top: 50px;
    border-radius: 5px;  
      
}
.divButtomSell p{
    padding: 0;
}

.divButtomSell :hover{
    background-color: navy;    
    cursor: pointer;
}

@media(max-width:757px){
    header ul{
        margin: 0px;
        padding: 0px;
        font-size: small;
      }
    .productesContainer{
       height: auto; 
       max-width: none;
       width: 100%;
       display: block;
       border-radius: 0;
    }

}

